html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    width: 95%;
    background-color: #1B262C;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
}

.nav-list {
    margin: 0;
    padding: 16px 0;
    border-radius: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    transition: 0.5s ease;
}

.nav-item a {
    color: #BBE1FA;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 15px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 2.5px;
}

.span-nav:hover {
    color: #3282B8;
}

header {
    width: 100%;
    margin: 70px auto;
    text-align: center;
}

header .profpic {
    width: 250px;
    height: 280px;
    margin: 0 auto;
    background-image: url('https://i.ibb.co/74xhcPF/profpic.webp');
    border-radius: 50%;
    filter: drop-shadow(0 0 0.75rem #BBE1FA);
}

header .profpic-item {
    font-family: 'Montserrat', sans-serif;
    color: #BBE1FA;
    letter-spacing: 1.5px;
}

section {
    border: 1px solid red;
    margin: 200px 0;
    color: #BBE1FA;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section div {
    border: 1px solid pink;
    width: 100%;
    text-align: center;
}