/* Navigation */

@media screen and (min-width: 601px) {
    
    nav a {
        display: inline;
    }

    nav i {
        display: none;
    }
    
}

@media screen and (max-width: 600px) {

    nav a {
        display: none;
    }

    nav i {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }

    nav {
        border: 3px solid red;
        width: 100%;
        text-align: center;
    }
}